---
layout: 2023/default
section: proposals
title: Propuestas para sala Comunidad Docente de Vitalinux&#58; Software libre y Competencia Digital Docente de esLibre 2023
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h3 class="main-header display-4" style="font-size: 35px !important;"><strong>Propuestas para sala "Comunidad Docente de Vitalinux: Software libre y Competencia Digital Docente" de es<span class="red">Libre</span> 2023</strong></h3>
  </div>
</div>
<hr class="my-4">

<p>
  Recientemente se ha publicado el Marco de Referencia de Competencia Digital Docente (MRCDD) en España, y el profesorado está en pleno proceso para acreditar su competencia digital docente. Muchas grandes tecnológicas están aprovechando para
  incrementar su presión sobre el sector educativo vinculando la utilización de sus herramientas a la acreditación de dicha competencia digital.<br><br>
  Las propuestas de esta sala mostrarán las posibilidades que ofrece el software libre en cuanto a poner a disposición aplicaciones educativas punteras y respetuosas con la privacidad del alumnado y el profesorado, tanto a las administraciones
  educativas como al profesorado en general. Puedes encontrar la información sobre la sala en la <a href="https://propuestas.eslib.re/2023/salas/software-libre-competencia-digital-docente" target="_blank">página de su propuesta</a>.<br><br>
  En esta página encontraras todas la información detallada sobre las <strong>propuestas del programa específico de esta sala</strong>. Si estás buscando las propuestas del programa general de esta edición de <strong>es<span
      class="red">Libre</span></strong>, puedes encontrarla en la
  <a href="https://propuestas.eslib.re/2023/" target="_blank">página principal</a>.<br><br>
</p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Charlas</h2>
      <ul id="talks">
        {% for talk in site.pages %}
        {% if talk.path contains '2023/charlas' and talk.path contains '.md' and talk.category == 'talks' %}
        {% unless talk.state == 'canceled' %}
        <li style="padding-bottom: 0.5em;"><a href="/{{ talk.path | remove_first: ".md" }}">{{ talk.author }} - {{ talk.title }}</a></li>
        {% endunless %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Talleres / mesas redondas</h2>
      <ul id="workshops">
        {% for workshop in site.pages %}
        {% if workshop.path contains '2023/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
        {% unless workshop.state == 'canceled' %}
        <li style="padding-bottom: 0.5em;"><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.author }} - {{ workshop.title }}</a></li>
        {% endunless %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>