<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body>
  {% include 2023/navbar.html %}

  <main role="main" class="container">

    {{ content }}

    <br>
    <hr />
    <p style="text-align:center">
      <a href="../">Volver al índice</a>
    </p>
  </main>

  {% include footer.html %}
  {% include js.html %}

</body>

</html>
